**/.gradle*
**/__pycache__
**/build
*.egg-info
*.mexmaci64
.classpath
.cproject
.factorypath
.idea
.project
.pydevproject
.settings
outside
src/main/resources/ziggy-build.properties
src/test/cpp/ExternalProcess/testprog.o
