# See the Properties File article in the user manual for descriptions
# of these properties and especially for properties not listed.

hibernate.connection.password = <your-password>
hibernate.connection.username = sa
pipeline.root.dir = /path/to/pipeline/directories
ziggy.database.connections = 100
ziggy.database.dir = ${ziggy.pipeline.results.dir}/db
ziggy.database.host = localhost
ziggy.database.name = majortom
ziggy.database.port = 9001
ziggy.database.protocol = hsql:
ziggy.database.schema.dir = ${ziggy.home.dir}/schema
ziggy.database.software.name = hsqldb
ziggy.home.dir = ${pipeline.root.dir}/ziggy/build
ziggy.logoFile = ${ziggy.pipeline.definition.dir}/pipeline-logo.png
ziggy.pipeline.binPath = ${env:JAVA_HOME}/bin:/bin:/usr/bin
ziggy.pipeline.classpath = ${ziggy.pipeline.home.dir}/libs/*
ziggy.pipeline.data.receipt.dir = ${ziggy.pipeline.results.dir}/data-receipt
ziggy.pipeline.datastore.dir = ${ziggy.pipeline.results.dir}/datastore
ziggy.pipeline.definition.dir = ${pipeline.root.dir}/config
ziggy.pipeline.home.dir = ${pipeline.root.dir}/build
ziggy.pipeline.mcrRoot = ${env:MATLAB_HOME}
ziggy.pipeline.memdrone.enabled = true
ziggy.pipeline.memdrone.sleepSeconds = 10
ziggy.pipeline.results.dir = ${pipeline.root.dir}/pipeline-results
ziggy.pipeline.useSymlinks = true
ziggy.remote.cluster.name = nas
ziggy.remote.group = 1234
ziggy.remote.host = host1.example.com,host2.example.come
ziggy.remote.user = user
ziggy.worker.count = 2
ziggy.worker.heapSize = 12000
ziggy.worker.port = 1099
